
body {
    font: Roboto, sans-serif;
    
    display: flex;
    flex-direction: column;
}


.header {
    height: 70px;

    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .header-logo {
        flex: 1 1 50%;
    }

    .header-link {
        flex: 1 1 auto;
    }



.content-row {

    min-height: 150px;

    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

    .summary-container {
        flex: 1 1 50%;
        display: flex;
        flex-direction: row;
    }

    .button {
        text-align: center;
    }
    
    .info-header {
        flex: 1 1 100%;
    }

    .info-box {
        flex: 1 1 auto;
        display: flex;
    }

    .quote-text {
        display: flex;
        justify-content: left;
    }

    .quote-source {
        display: flex;
        justify-content: right;
    }

    .action-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .text-action {
        flex: 1 1 66%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


.footer-row {
    height: 70px;
    
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}