
body {
    font: Roboto, sans-serif;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header {
    height: 70px;
    padding: 10px;

    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

    .header-logo {
        flex: 1 1 50%;
        text-align: center;
    }

    .header-link {
        flex: 1 1 auto;
    }



.content-row {

    min-height: 150px;
    padding: 15px;
    margin: 15px;

    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    }

    .summary-container {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
    }

    .button {
        margin: 15px;

        text-align: center;
    }
    
    .info-header {
        flex: 1 1 100%;
        text-align: center;
    }

    .info-container {
        display: flex;
        flex-direction: row;
    }

    .info-box {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        max-width: 20%;
        }
    
    .info-image {
        max-width: 80%;
        height: auto;
    }    

    .quote-container {
        display: flex;
        flex-direction: column;
    }

    .quote-text {
        text-align: left;

        display: flex;
        justify-content: left;
        flex: 1 1 100%;
    }

    .quote-source {
        text-align: right;
        
        display: flex;
        justify-content: right;
        flex: 1 1 100%;
    }

    .action-box {
        flex: 0 1 66%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        }
    
    .text-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }


.footer-row {
    height: 70px;
    
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}